* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.cont-flex {
    width: 1300px;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.carosello {
    width: 85%;
    position: relative;
}

.info-slide {
    position: absolute;
}

.thumbnail {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.slide {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.thumb {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.scroll {
    background-color: rgba(255, 255, 255, 0.51);
    border-radius: 50%;
    border: none;
    width: 4rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    top: 36%;
}

.scroll.next {
    right: 5%;
}

.scroll i {
    font-size: 30px;
}